

<!-- style.css table start -->
<div class="container"><script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-search="Tiger Nixon">T. Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td data-order="1303689600">Mon 25th Apr 11</td>
                <td data-order="320800">$320,800/y</td>
            </tr>
            <tr>
                <td data-search="Garrett Winters">G. Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td data-order="1311552000">Mon 25th Jul 11</td>
                <td data-order="170750">$170,750/y</td>
            </tr>
            <tr>
                <td data-search="Ashton Cox">A. Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td data-order="1231718400">Mon 12th Jan 09</td>
                <td data-order="86000">$86,000/y</td>
            </tr>
            <tr>
                <td data-search="Cedric Kelly">C. Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td data-order="1332979200">Thu 29th Mar 12</td>
                <td data-order="433060">$433,060/y</td>
            </tr>
            <tr>
                <td data-search="Airi Satou">A. Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>33</td>
                <td data-order="1227830400">Fri 28th Nov 08</td>
                <td data-order="162700">$162,700/y</td>
            </tr>
            <tr>
                <td data-search="Brielle Williamson">B. Williamson</td>
                <td>Integration Specialist</td>
                <td>New York</td>
                <td>61</td>
                <td data-order="1354406400">Sun 2nd Dec 12</td>
                <td data-order="372000">$372,000/y</td>
            </tr>
            <tr>
                <td data-search="Herrod Chandler">H. Chandler</td>
                <td>Sales Assistant</td>
                <td>San Francisco</td>
                <td>59</td>
                <td data-order="1344211200">Mon 6th Aug 12</td>
                <td data-order="137500">$137,500/y</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
    </table>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>

</div>
